<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Post Detail</h2>
        </div>
        <div class="col-md-8 search-form">
            <input class="form-control" type="text" placeholder="Search comment..." (keyup)="search($event)" [hidden]="!commentsViewed">
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
        </div>
        <div class="card-body">
            <div class="col-md-8" *ngFor="let comment of commentArr">
                <div class="media g-mb-30 media-comment">
                    <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="assets/images/default_user.png">
                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                      <div class="g-mb-15">
                        <h5 class="h5 g-color-gray-dark-v1 mb-0">{{comment.email}}</h5>
                        <span class="g-color-gray-dark-v4 g-font-size-12">{{comment.name}}</span>
                      </div>
                
                      <p>{{comment.body}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style="cursor: pointer;" (click)="viewComments()">
            <a class="card-link">View Comments</a>
        </div>
    </div>
    
</div>