<div class="container">
    <h2>All Posts</h2>
    <hr>
    <div class="card">
        <div class="card-body">
            <a [routerLink]="['/posts/'+post.id]" routerLinkActive="router-link-active"  class="list-group-item" *ngFor="let post of postArr">{{ post.title }} ({{post.total_number_of_comments}})</a>
        </div>
    </div>
</div>