<footer class="page-footer font-small fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <a href="https://www.linkedin.com/in/amirul-faizal-a44457135/"> For Demo Purpose Only</a>
    </div>
    <!-- Copyright -->

</footer>